.footer {
  position: absolute;
  background: rgb(177, 177, 177);
  height: 10rem;
  width: calc(100% - 4rem);
  bottom: 2rem;
  left: 2rem;

  &__tag {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    position: relative;
    top: 3rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    position: fixed;
    background: rgb(177, 177, 177);
    height: 5rem;
    width: 100%;
    bottom: 0px;
    left: 0px;

    &__tag {
      font-size: 1.2rem;
      color: white;
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: center;
      margin: 2rem 0 0 0;
    }
  }
}
