@use "../abstract/variables" as *;
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");

.biography {
  // display: flex;
  text-align: center;
  min-height: calc(100vh - 8rem);
  padding: 4rem 3rem 3rem 3rem;
  background-image: linear-gradient(
    to bottom right,
    rgba($beige, 0.95),
    rgba($white, 0.95)
  );
  background-size: cover;
  background-position: 20% 20%;
  justify-items: center;
  color: rgb(0, 0, 0, 0.7);
  position: relative;
  z-index: -100;

  &__plane {
    background-image: url("../../public/mail.png");
    background-size: cover;
    position: absolute;
    display: inline-block;
    height: 8rem;
    width: 8rem;
    z-index: 1000;
    bottom: 10rem;
    left: 10rem;
    // background-color: black;

    &::hover {
      cursor: pointer;
    }
  }

  &__tech-stack {
    margin-top: 1rem;
    padding: 2rem;
  }
  &-icon {
    padding: 2rem;
    position: relative;

    &-js {
      @extend .biography-icon;
      font-size: 3rem;
    }

    &-nextjs {
      @extend .biography-icon;
      font-weight: 600;
      top: -0.2rem;
    }
  }

  &__introduction {
    font-size: 2rem;
    padding-left: 0.3rem;
    margin-bottom: 2rem;
  }

  &__header {
    font-size: 7rem;
    color: $pink;
    margin: 0;
    padding: 0;
  }

  &__tag {
    font-size: 5.5rem;
    color: $blue;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  &__description {
    font-size: 2rem;
  }

  &__paragraph {
    display: inline-block;
    width: 45%;
    line-height: 1.6;
  }

  &__content {
    justify-content: center;
    display: flex;
  }

  &__list {
    text-align: left;
    padding: 2rem;
    &:not(:last-child) {
      margin: 0 3rem;
    }
  }

  &__items {
    padding: 1rem;
    list-style: none;
    position: relative;
    z-index: -40;

    &:before {
      content: "";
      display: inline-block;
      height: 3rem;
      width: 3rem;
      background-image: url("../../public/right.png");
      background-size: cover;
      position: absolute;
      top: 0.5rem;
      left: -4rem;
      z-index: 0;
    }
  }

  &__contact {
    text-align: center;
    padding: 0;
    &-items {
      list-style: none;
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 3rem;
      color: $orange;
    }
  }
}

@media only screen and (max-width: 700px) {
  .biography {
    margin: 5rem 0 0 0;
    height: calc(100% - 5rem);

    &__description {
      font-size: 1.6rem;
    }

    &__header {
      font-size: 4.5rem;
    }

    &__tag {
      font-size: 3rem;
    }

    &__paragraph {
      display: inline-block;
      width: 100%;
      line-height: 1.6;
    }

    &__list {
      padding: 2rem;
      &:not(:last-child) {
        margin-right: 1rem;
        margin-left: 4rem;
      }
    }

    &__contact {
      text-align: center;
      padding: 0;
      &-items {
        list-style: none;
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 3rem;
        color: $orange;
      }
    }

    &-icon {
      padding: 1rem;
      position: relative;

      &-js {
        @extend .biography-icon;
        top: 0.1rem;
      }

      &-nextjs {
        @extend .biography-icon;
        font-weight: 600;
        top: -0.2rem;
      }
    }

    &__tech-stack {
      margin-top: 0rem;
      padding-bottom: 0rem;
      padding-top: 1rem;
    }

    &__plane {
      cursor: pointer;
      background-image: url("../../public/mail.png");
      background-size: cover;
      position: absolute;
      height: 3.5rem;
      width: 3.5rem;
      z-index: -20;
      bottom: 2rem;
      left: 2rem;
      // background-color: black;
    }
  }
}
